<h1>Password generator</h1>

<div>
  <label for="">Enter Length</label>
  <input (input)="onChangeLength($event.target.value)" />
</div>

<div>
  <label for="">Use letters</label>
  <input (change)="onChangeUseLetters()" type="checkbox" />
</div>

<div>
  <label for="">Use numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox" />
</div>

<div>
  <label for="">Use symbols</label>
  <input (change)="onChangeUseSymbols()" type="checkbox" />
</div>
<div>
  <button (click)="onButtonClick()">Generate!</button>
</div>
<div>
  <label for="">Your password</label>
  <input [value]="password" type="text" />
</div>
